@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #ffb703; */
    /* background-color: #fca311; */
    background-color: #ffbe0b;
}

#calculator {
    background-color: black;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: scale(1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    padding: 0.25rem;
}

.calculator-button {
    box-shadow: none;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.calculator-button:hover {
    transform: translateY(-0.25rem);
    transition-duration: 0.25s;
    transition-timing-function: 'ease-in';
}

.calculator-button:active {
    transform: translateY(0);
}

button.rounded-box {
    width: inherit;
    border-radius: 10px;
}

#expression { 
    grid-column: 1 / 5;
    background-color: inherit;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content: flex-end;
    font-weight: 200;
    font-size: 1.5rem;
    width: 90%;
}

#display {
    grid-column: 1 / 5;
    background-color: inherit;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content: flex-end;
    font-weight: 300;
    font-size: 3rem;
    width: 90%;
}

.zero {
    grid-column: 1 / 3;
    padding: 0.25rem;
}

.grid-item {
    color: white;
    font-weight: bold;
    font-size: x-large;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    width: 2rem;
    height: 2rem;
}

.circle {
    border-radius: 100%;
}

.circle:hover {
    background-color: lightgrey;
}

.accent-color {
    background-color: darkorange;
}

.accent-color:hover {
    background-color:orange;
}